* {
	background-color: white;
}

h1 {
	color: black;
	font-family: "Courier New", Courier, monospace;
	font-size: 5em;
	font-weight: normal;
	width:fit-content;
	width:-webkit-fit-content; 
	width:-moz-fit-content;
	margin: 100px auto 100px auto;
}

h1:hover {
	color: gray;
}